.scrollable {
  overflow: scroll;
}

.scrollable::-webkit-scrollbar {
  width: 12px !important;
}

.scrollable::-webkit-scrollbar-track {
  background: green !important;
}

.scrollable::-webkit-scrollbar-thumb {
  background: green !important;
  border-radius: 10px !important;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: green !important;
}
