@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url(../public/mountain-8590965_1920.jpg);
  background-position: center;
  background-size: cover;
  font-family: sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* Example with !important to ensure styles apply */
/* ::-webkit-scrollbar {
    width: 3px !important;
}

::-webkit-scrollbar-track {
    background: #f1f1f1 !important;
}

::-webkit-scrollbar-thumb {
    background: #888 !important;
    border-radius: 10px !important;
}

::-webkit-scrollbar-thumb:hover {
    background: #555 !important;
} */
